:root {
	--backgroud-primary:#007cba;
    --color-white: #fff;
}
.clear{clear: both;}
/*@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.3.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}*/
@font-face {
    font-family: Lato;
	font-weight:400;
    src: url("../fonts/Lato-Regular.ttf");
}

@font-face {
    font-family: Lato;
	font-weight:600;
    src: url("../fonts/Lato-Bold.ttf");
}

@font-face {
    font-family: Lato;
	font-weight:900;
    src: url("../fonts/Lato-BlackItalic.ttf");
}
*{
	margin: 0;
	padding: 0;
}
html{
	overflow-x:hidden;
}
body{
	font-family:"Lato", sans-serif;
	font-weight: 400;
	font-size:15px;
	color: #5a5a5a;
    line-height: 1.5;
}

.container{
	width: 1200px;
	margin:0 auto;
}
.page_session{
	float: left;
	width: 100%;
	margin-bottom: 2rem;
}
a{
    text-decoration: none;
}
/*row col*/

.row_divide {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.col-divide-1 {
    flex: 0 0 7%;
    max-width: 7%;
    width: 100%;
}

.col-divide-2 {
    flex: 0 0 14%;
    max-width: 14%;
    width: 100%;
}

.col-divide-3 {
    flex: 0 0 25%;
    max-width: 25%;
    width: 100%;
}

.col-divide-4 {
    flex: 0 0 31%;
    max-width: 31%;
    width: 100%;
}

.col-divide-5 {
    flex: 0 0 40%;
    max-width: 40%;
    width: 100%;
}

.col-divide-6 {
    flex: 0 0 48%;
    max-width: 52%;
    width: 100%;
}

.col-divide-7 {
    flex: 0 0 57%;
    max-width: 57%;
    width: 100%;
}

.col-divide-8 {
    flex: 0 0 65%;
    max-width: 65%;
    width: 100%;
}

.col-divide-9 {
    flex: 0 0 73%;
    max-width: 73%;
    width: 100%;
}

.col-divide-10 {
    flex: 0 0 81%;
    max-width: 81%;
    width: 100%;
}

.col-divide-11 {
    flex: 0 0 90%;
    max-width: 90%;
    width: 100%;
}

/* .col-divide12 {
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
} */

/* style menu */
li{
    list-style-type: none;
}
header .diva--phone a{
    text-decoration: none;
    color: #5E5E5E;
    padding: 8px;
    border-radius: 25px;
    background: #D3A344;
    color:#fff;
    transform: translateY(0px);
	transition: all 0.5s;
}
header .diva--phone a:hover{
    background: #fff;
    color: #D3A344;
    transform: translateY(-20px);
	box-shadow: 20px 18px 20px #a97171;
}
.diva--phone{
    padding-top:  20px;
    font-size: 20px;
    font-family: serif;
    text-align:right;
}
.diva-menu{
    align-self: center;
}
.diva-menu .menu{float:right;display: flex;}

.header_logo img{
	width: 50%;
}
.diva-menu{
	color: #5E5E5E;
}
.diva-menu .menu-diva-spa-menu-container #menu-diva-spa-menu>li {
  float: left;
}

.diva-menu li a {
  display: inline-block;
  color: #5E5E5E;
  text-align: center;
  padding: 5px;

}
.menu-diva-spa-menu-container ul{
	padding-left: 6%;
}
.diva-menu li a:hover, .menu-item-has-children:hover {
  color: #D3A344;
}

.diva-menu li.menu-item-has-children {
  display: inline-block;
}

.diva-menu .sub-menu {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  background-color: #fff;
  padding: 0;
}
.diva-phone{
	color: #D3A344;
}
.diva-phone:hover{
	color: lightblue;
}
.diva-menu .sub-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
header{
	/* position:fixed; */
	border-bottom: 1px solid #cec8c8;
	z-index: 1000;
	width:100%;
	background-color: #fff;
	transition: all 0.5s;
	color: #fff;
}
.diva-menu .sub-menu a:hover {background-color: #f1f1f1;}

.diva-menu .menu-item-has-children:hover .sub-menu {
  display: block;
}
.menu__mobile{
    display:none;
}
/* style services*/

.diva_services img{
	width: 100%;
	height: 200px;
	object-fit: fill;
	display:block;
}
.diva_services .diva_style_image{
	position:relative;
	overflow: hidden;
	width: 100%;
	height: 200px;
}
.diva_services .diva_style_image img{
	transition: all 1s;
}
.diva_services .diva_services--contain:hover img{
	-ms-transform: scale(1.2);
	transform: scale(1.2);
	color: #D3A344;
}
.diva_services .diva_style_image:after{
	content: '';
	display:block;
	top:0;
	left:0;
	width: 100%;
	height:100%;
	background: rgba(0,0,0,0.4);
}
/*.diva_services .col-divide-3{
    flex: 0 0 25%;
    max-width: 25%;
}*/

.diva_services .diva_services--contain:nth-child(1){background-color: rgb(26, 64, 236);}
.diva_services .diva_services--contain:nth-child(2){background-color: rgb(182, 188, 0);}
.diva_services .diva_services--contain:nth-child(3){background-color: #72aa02;}
.diva_services .diva_services--contain:nth-child(4){background-color: rgb(147, 12, 12);}
.abs_content{
	color: white;
	text-align: center;
	padding: 1rem 0;
	line-height: 2;
}

.diva_services .abs_content h4{
	/* font-size: 20px; */
	margin-bottom: 12px;
}
.diva_services a{
	display:block;
	border: 1px solid #fff;
}

/* style sidebar */
.post__recent{
	border: 1px solid #ddd;
    box-shadow: 2px 2px 10px 0 rgb(0 0 0 / 5%);
    padding: 10px;
	margin: 2rem 0;
}
	
.post__recent .title--section::before{
	height: 3px;
    display: block;
    background-color: rgba(0,0,0,0.1);
    margin: 1em 0 1em;
    width: 100%;
    max-width: 30px;
	}

.title--section{
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 1rem;
}

.post__recent .textwidget{
	font-size: 30px;
    font-family: 'FontAwesome';
    color: #d3a344;
}

/* diva_group_content*/
.diva_group_content{
	color: #5E5E5E;
	margin-bottom: 30px;
}
.diva_group_content h3{
	text-align:center;
	font-size: 35px;
	font-weight: 400;
	margin-bottom: 20px;
    margin-top: 40px;
}
.diva_group_content span{
	display:block;
	line-height: 33px;
	text-align: center;
	margin-bottom: 45px;
}
.diva_group_content .choose_intro{
	text-align:right;
}
.hotline--contain{
	text-align: center;
    color: #f99705;
    font-size: x-large;
	letter-spacing: 1px;
	font-weight: bold;
}
.hotline--contain a{
	font-family: 'slick';
    font-weight: bold;
}
.hotline--contain a:hover{
	font-family: 'slick';
	color: inherit;
    font-weight: bold;
}

/* style tab post */
.fpt_content_services .tab--contain .tab--control{display: flex;}
.fpt_content_services .tab--contain .tab--control p{margin: 0 15px;}


/* style footer */
.footer .footer__main{background:var(--backgroud-primary);color:var(--color-white)}
.main__contain{padding:1rem 0}
.footer .footer__main .line--height a{color:#fff}
.left__footer-hd{line-height:2rem}
.left__footer-hd a{color:#fff !important}
.footer .right--footer{margin:30px 0}
.footer__sub{background:#000b25;font-size:small}
.line--height {
    line-height: 30px;
}
.line_blue_parent {
    width: 100%;
    margin-bottom: 20px;
}
.line_blue {
    float: left;
    width: 50px;
    height: 3px;
    background: #009cce;
}
.fas, .fa-phone,.text--light { color: #fff;}
.fa, .fas {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.space--between {justify-content: space-between;}
.mr-15 {margin-right: 10px;}

.panelContainer {
	clear: left;
	margin-bottom: 25px;
	background-color: #fff;
	padding: 10px;
	/* add height if you want equal panels */
}


/* reset ul defaults  */
.tabs {
	margin: 0;
	padding: 0;	
	list-style: none;	
}

/* set li properties  */
.tabs li {
   float: left;
	padding: 0;
	margin: 0;
    text-align: center;
}

/* all formatting goes inside 'a' */
.tabs a {
	padding:  8px;
	margin-right: 4px;
    border-radius: 20px;
    color: inherit;
}


.tabs a.active {
	background-color: #72aa02;
	color: #fff;
}



/* post style*/
.logo-title img{
	width:45px;
}
.logo-title{
	margin: 6% 5% 5% 5%;
}
.logo-title .style-title{
    width: 374px;
    left: 31%;
}

.title--item.news__item-title{
	color: #D3A344;
}
.news__item-content{margin: 10px;}
.news__list .news__item-img img{min-height: 200px;object-fit: cover;}
.diva-newspaper-title h3{
	font-size: 35px;
	text-align: center;
	font-weight: 400;
	margin: 12px 0px 30px 0px; 
}

/* css category*/
.page_small_system_title{
	background-image: url('../images/1-vien-tham-my-diva-banner-6-min.jpg');
	height: 400px;
	background-position: center; 
	background-repeat: no-repeat; 
	background-size: cover;
}
.page_small_system_title p{
	text-align:center;
	padding-top: 10%;
	font-size: 33px;
	color: #fff;
}
.category__information__img{
	height:188px;
	overflow:hidden;
	border:2px solid #D3A344;
}
.category__information .category__information__date{
	text-align:center;
	padding: 5px;
	color: #5E5E5E;
}
.category__information .category__information__smalltitle{
	padding: 5px;
	text-align:center;
}
.category__information .category__information__smalltitle a{
	color: #d59310;
	font-size: 17px;
}
.category__information .category__information__content{
	padding:15px;
	color: #5E5E5E;
}
.category__information{
	box-shadow: 2px 8px 8px #a97171;
	margin-bottom: 30px;
	transform: translateY(0px);
	transition: all 0.5s;
	
}
.category__information .category__information__smalltitle a:hover{
	color: #daa40294;
}
.category__information:hover {
	transform: translateY(-20px);
	box-shadow: 20px 18px 20px #a97171;
}

#category .container{
	width: 1300px;
}

.title-section{
	text-align:center;
	padding: 70px 0 50px 0;
	font-size: 33px;
}
.diva__pagination{
	text-align:center;
	margin: 30px 0 30px 0;
}
.diva__pagination span{
	background: #D3A344;
	color: #fff;
}
.diva__pagination .page-numbers{
	border: 1px solid #D3A344;
    padding: 5px;
}
.diva__pagination a{
	color: #333;
}
.diva__pagination .screen-reader-text{
	display:none;
}


/* css single-page*/
.container__single{
	width: 900px;
	margin:0 auto;
}
.top_backgroud_overlay{
	background-image: url('../images/goi_cuoc-banner.png');
	height: 400px;
    position: relative;
	background-position: center; 
	background-repeat: repeat; 
	background-size: cover;
}
.top_backgroud_overlay:after{
	background-image: url('../images/wave-horizontal-bg-solid-other-shape.svg');
    background-repeat: repeat-x;
    background-position: bottom center;
    background-attachment: scroll;
    background-size: auto;
    border-top-width: 1px;
    border-right-width: 0;
    border-bottom-width: 1px;
    border-left-width: 0;
    opacity: 1;
    content: "";
    display: block;
    height: 57px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -3px;
    top: inherit;
}
.top_backgroud_overlay .sp-title h4{
    text-align:center;
	padding-top: 16%;
	font-size: 33px;
	color: #fff;
}
.single__page-breadcum{
    font-weight: 700;
    margin: 20px 0 70px 0;
}
.single__page .single__page-breadcum a{
    color: #D3A344;
}
.single__page .single__page-breadcum a:hover{
    color: #333;
}

/* shortcode--all*/
.single__page .single__page-content h1{
    font-size: 32px;
    color: #D3A344;
}
.single__page .single__page-content h2{
    font-size: 23px;
    color: #D3A344;
    margin-bottom: 15px;
    margin-top: 15px;
}
.single__page .single__page-content h3{
    font-size: 18px;
    color: #D3A344;
}
.single__page-content img{
    display:block;
    margin:0 auto;
}
.single__page-content li{
    list-style-type: unset;
}
.heateor_sss_sharing_container{
    float:right;
    margin-top:17px;
}
.single__page a{
    color:#D3A344
}
.single__page a:hover{
    color:#f55151;
}

/* style tab content */
.js-tabs .tab {
    display: inline-block;
    padding: .5em;
    vertical-align: top;
    background-color: #eee;
    cursor: hand;
    cursor: pointer;
    text-decoration: none;
    color: #333;
}
.js-tabs .tab:focus {
    box-shadow: 0 0 3px 3px rgba(0,127,255,.5);
}
.js-tabs .tab:hover {
    background-color: #fff;
}
.js-tabs .tab.active {
    background-color: #fff;
    border-bottom: .3em solid #fff;
    cursor: default;
}

.js-tabs .panels {
    background-color: #fff;
    padding: .5em;
}

.js-tabs .panel {
    display: none;
}
.js-tabs .panel.active {
    display: block;
}


/* style form register */
.form--name, .form--sdt, .form--email, .form--require{
    border: 1px solid #ddd;
    padding: 0 .75em;
    height: 2.507em;
    max-width: 90%;
    width: 90%;
    transition: color .3s, border .3s, background .3s, opacity .3s;
    margin: 5px 0;
}
.form--name:focus, .form--sdt:focus, .form--email:focus, .form--require:focus{
	box-shadow: 0 0 5px #ccc;
	transition: color .3s, border .3s, background .3s, opacity .3s;
	outline: 0;
}

#mc4wp-form-1 p{
	font-weight: bold;
    display: block;
    font-size: .9em;
    margin-bottom: 1em;
}
.form--submit{
	background-color: #72aa02;
	color: #fff;
    min-height: 2.5em;
    padding: 0 2em;
    max-width: 100%;
    transition: transform .3s, border .3s, background .3s, box-shadow .3s, opacity .3s, color .3s;
	cursor: pointer;
    border: none;
}

.form--submit:hover{
	background-color: #D3A344;
	
}